{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706879937/samples/true_care/about-us_pz1r53.webp"
                class="d-block w-100 img-fluid pt-3" alt="about-us image">
                <div class="col-sm-12 text-centre pt-5 pb-3">
                    <h2>About Us</h2>
                    <hr class="dotted">
                </div>
            <div class="col-sm-12 text-start py-5">
                <h4>When You need answers,<br> now you know where to go.</h4>
                <p>Located in the vibrant heart of Ireland, True Care Hospitals is one of the largest
                    private multi-specialist hospitals in Europe. Fr. John laid the hospital's cornerstone in
                    Ballinasloe in 1990. We are dedicated to providing the most sophisticated healthcare to people from
                    all
                    walks
                    of life. </p>
            </div>
            <div class="col-sm-4 text-center pb-5">
                <h1>1300+</h1>
                <p>Bed capacity</p>
            </div>
            <div class="col-sm-4 text-center pb-5">
                <h1>10M+</h1>
                <p>Treated Patients</p>
            </div>
            <div class="col-sm-4 text-center pb-5">
                <h1>150+</h1>
                <p>Medical Equipments</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-body-tertiary text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center py-5">
                <h3>Our Vision</h3><hr class="dotted">
                <p class="text-start">To provide healthcare of the highest quality to all in a spirit of compassion and
                    continually improve
                    the standard of care provided to the community through the promotion of value-based quality
                    education and research.</p>
            </div>
            <div class="col-sm-12 col-md-4 text-center py-5">
                <h3>Our Mission</h3><hr class="dotted">
                <p class="text-start">Establishing a Center of Excellence in healthcare and improving the well-being of
                    the community
                    through quality programs of preventive and curative medicine, medical education, and research.
                    Providing outstanding and affordable medical care in a patient-friendly environment and in a spirit
                    of compassion to all, regardless of race, caste, religion, or economic condition.</p>
            </div>
            <div class="col-sm-12 col-md-4 text-center py-5">
                <h3>Our Philosophy</h3><hr class="dotted">
                <p class="text-start">At the heart of our mission lies the belief that exceptional healthcare should be
                    accessible to
                    everyone. We aim to create a warm and supportive healing environment where every patient feels
                    heard, respected, and treated with compassionate care.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-body-secondery text-start">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-6  py-5">
                <h1>What We Offer?</h1><br>
                <h3>A Haven of Healing Where Each Life is Valued and Cared for with Love</h3>
                <p class="text-start">True Care Hospital is a ray of hope for all, with a noble mission to serve
                    humanity
                    with infinite compassion. We believe that everyone has the right to access life-saving medication,
                    which
                    is why our services are centered around empathy and comfort for our patients. We see our vision as
                    empowering our communities towards a future where everyone can receive quality healthcare. Join us
                    on a healing journey where love and compassion are the pillars of everything we do.</p>
            </div>
            <div class="col-sm-12 col-xl-6 text-Centre py-5">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Compassionate Service to People
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Empathy and care are essential elements of high-quality
                                healthcare. Our compassionate service to people puts our patients and their families at
                                the center of their healthcare journey. We provide a healing touch by infusing every
                                aspect of care with compassion and understanding.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Charity
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">We believe that everyone can make a positive difference in the
                                world. Our charity work aims to spread hope by empowering communities through charitable
                                donations, supporting those in need, and creating a brighter future for all. Lend us a
                                hand in creating a world where everyone has the opportunity to thrive.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Excellence Through Education
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Our passion for enhancing healthcare outcomes motivates our
                                commitment to excellence through education. We aspire to provide our patients with the
                                highest quality care through ongoing training, research, and development. Join us in our
                                pursuit of excellence to make a difference in healthcare.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                A Free Drug Bank For Poor
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse bg-body-secondery"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Access to life-saving drugs and medications shouldn’t depend on
                                financial status. Our free drug bank for the poor ensures that everyone can receive the
                                medication they need without the burden of cost. We believe that health is a basic human
                                right and are committed to ensuring equitable access to care.</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-centre p-4">
                    <button class="btn button" href="{% if user.is_authenticated %}{% url 'appointment' %}{% else %}{% url 'login_or_signup' %}{% endif %}">
                        Click Here to make an appointment</button>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}