{% extends 'base.html' %}

{% block title %} Proffessional Details {% endblock %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-sm-12 p-3 my-3 d-flex align-items-center justify-content-center">
            <div class="text_centre">
                <h1><i class="fa-regular fa-file-lines"></i></h1>
                <h3 class="pb-4">Professional Details of the Doctor </h3>
                <form class="bg-white text-start rounded-5 p-5 needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="pb-2 pt-4">
                        <h5 class="text-uppercase text-center">Dr. {{user}}'s Details</h5>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Designation</span>
                        <input type="text" aria-label="designation" name="designation" value="{{ doctor.designation }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter your designation.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Doctor ID</span>
                        <input type="text" aria-label="ID" name="doctor_Number" value="{{ doctor.doctor_Number }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter your doctor ID.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Qualification</span>
                        <input type="text" aria-label="qualification" name="education" value="{{ doctor.education }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter your qualification.
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Specialisation</span>
                        <input type="text" aria-label="specialisation"name="speciality" value="{{ doctor.speciality }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter your specialisation.
                        </div>
                    </div>
                    <p id="specialityError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Department</span>
                        <select name="department" aria-label="department" id="departments" class="form-control" required>
                            <option value="">Select Department...</option>
                            {% for department in departments %}
                                <option value="{{ department.pk }}" {% if department.pk == doctor.department.pk %} selected {% endif %}>
                                    {{ department.department_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please select your department.
                        </div>
                    </div>
                    <p id="departmentError" style="color: red; visibility: hidden;" class="text-start"></p>

                    {% if redirect_field_value %}
                    <input type="hidden" aria-label="hidden" name="next" value="{% url 'message_confirmation' %}" />
                    {% endif %}

                    <input type="submit" aria-label="submit" class="btn button" value="Submit">
                    <input type="reset" aria-label="reset" value="Reset Form" class="btn button1">
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#departments').change(function () {
            var departmentId = $(this).val();
            if (departmentId) {
                $.ajax({
                    type: 'GET',
                    url: '/get_doctors/',  // URL to fetch doctors for the selected department
                    data: { 'department_id': departmentId },
                    success: function (data) {
                        $('#doctor').html(data);
                    }
                });
            } else {
                $('#doctor').html('<option value="">Select Doctor...</option>');
            }
        });
    });


    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    function validateForm() {
        return true;
    }

</script>

{% endblock %}