{% extends 'base.html' %}

{% block title %} Appointment {% endblock %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-sm-12 p-3 my-3 d-flex align-items-center justify-content-center">
            <div class="text_centre">
                <h1><i class="fa-regular fa-file-lines"></i></h1>
                <h3 class="pb-3">Appointment Form </h3>
                <form class="login bg-white text-start rounded-5 p-5" method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Name</span>
                        <input type="text" name="{{ form.patient_id.personal_details.name.name }}" class="form-control" id="name" required>
                    </div>
                    <p id="nameError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">E-mail</span>
                        <input type="text" name="{{ form.patient_id.personal_details.email.name }}" class="form-control" id="email" required>
                    </div>
                    <p id="emailError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Mobile</span>
                        <input type="tel" name="{{ form.patient_id.personal_details.mobile.name }}" class="form-control" id="mobile" required>
                    </div>
                    <p id="mobileError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Gender</span>
                        <input type="text" name="{{ form.patient_id.personal_details.gender.name }}" class="form-control" id="gender" required>
                    </div>
                    <p id="genderError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text align-self-start" id=""
                            style="width:130px; height:100px;">Address</span>
                        <textarea name="{{ form.patient_id.personal_details.address.name }}" rows="15" cols="36"
                            class="form-control" id="message" style="height:100px" id="address" required></textarea>
                    </div>
                    <p id="AddressError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="country" required>Country</span>
                        <input type="text" name="{{ form.patient_id.personal_details.country.name }}" class="form-control">
                    </div>
                    <p id="countryError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="zipcode" required>Zip-Code</span>
                        <input type="text" name="{{ form.patient_id.personal_details.zipcode.name }}" class="form-control">
                    </div>
                    <p id="zipcodeError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Department</span>
                        <select name="{{ form.department.name }}" class="form-control" id="department" required>
                            <option value="">Select Department...</option>
                            {% for department in departments %}
                            <option value="{{ form.department.id }}">{{ department.department_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p id="departmentError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="doctor" required>Doctor</span>
                        <select name="{{ form.doctor.name }}" class="form-control">
                            <option value="">Select Doctor...</option>
                            {% for doctor in doctors %}
                            <option value="{{ form.doctor.id }}">{{ doctor.personal_details.name }} ({{ doctor.department.department_name }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p id="doctorError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="booking_date" required >Date</span>
                        <input type="date" name="{{ form.booking_date.name }}" class="form-control">
                    </div>
                    <p id="booking_dateError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <!-- {{ booking_form.as_p }} -->
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn button right" type="submit">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}