{% extends 'base.html' %}

{% block title %} Appointment Details {% endblock %}

{% load i18n %}

{% block content %}

<div class="container-fluid bg-body-secondery">
    <div class="row">

        <div class="col-sm-12 text-center align-items-center pb-3 bg-dark mx-auto" style="min-height: 600px;">
            <div class="row">
                <div class="col-12 text-white py-5 ">
                    <h4 class="text-uppercase "><strong>Appointment Details</strong></h4>
                    <hr class="dotted">
                    <div class='text-start'>
                        <a class="text-reset text-decoration-none text-start ps-5 pt-5"
                            href="{% url 'patient_appointments' %}">
                            <i class="fa-solid fa-circle-arrow-left"></i> Go Back</a>
                    </div>
                    <div class="col-sm-8 mx-auto text-start py-5">
                        <br>
                        <h5>Appointment Date : {{ appointment.booking_date }}</h5>
                        <h6>Department : {{ appointment.department }}</h6>
                        <p>Doctor : Dr. {{ appointment.doctor }}</p>
                        <p class="text-tertiary">Date booked : {{ appointment.date_booked }}</p>
                        <hr>
                        {% if not appointment.attended %}
                        <br>
                        <p>Dear {{ appointment.patient_id }},</p>

                        <p>You have an appointment scheduled with Dr. {{ appointment.doctor }} on
                            {{ appointment.booking_date }} at the {{ appointment.department }} Department.</p>
                            <p>Thank You</p>
                        <br>
                        <hr>
                        <h5>Status : {% if appointment.approved %}Approved{% else %}Not Approved{% endif %}</h5>
                        <p>Contact Reception for Further details... <a class="text-reset text-decoration-none"
                                href="tel:0484 668 1234">
                                <i class="fa fa-phone-volume"> </i> +353 89 123 4567
                            </a></p>
                        <div class="col-12 text-start ps-5 py-3">
                            <a href="{% url 'update_appointment' id=appointment.id %}"
                                class="  text-reset text-decoration-none px-2">
                                <h5 type="submit" class="btn button3" value="">Edit</h5>
                            </a>
                            {% if appointment.booking_date > now.date or not appointment.approved %}
                            <a href="{% url 'delete_appointment' id=appointment.id %}"
                                onclick="return confirm('Are you sure you want to delete this appointment?');"
                                class="text-reset text-decoration-none px-2">
                                <h5 class="btn button2">Delete</h5>
                            </a>
                            {% else %}
                            <button type="button" class="btn button2" disabled>Delete</button>
                            {% endif %}
                        </div>
                        {% else %}
                        {% if prescriptions %}
                        <div class="card  my-5">
                            <div class="card-body">
                                <h3 class="card-title">Prescriptions</h3>
                                <hr>
                                <div class="col-12">
                                    {% for prescription in prescriptions %}
                                    <div class="row bg-dark text-center text-white p-2 m-2 mx-auto">
                                        <div class="row d-flex mx-auto align-items-center justify-content-center pt-2">
                                            <div class="col-12 p-2 border">
                                                <h5>{{ prescription.drug_name }}</h5>
                                            </div>
                                            <div class="col-4 p-2 border">{{ prescription.dose }}</div>
                                            <div class="col-4 p-2 border">{{ prescription.frequency }}</div>
                                            <div class="col-4 p-2 border">{{ prescription.route }}</div>
                                            <div class="col-6 p-2 border">{{ prescription.quantity }}</div>
                                            <div class="col-6 p-2 border">{{ prescription.comment }}</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <a class="btn button3" href="{% url 'generate_prescription_pdf' appointment.id %}" target="_blank">Download Prescription</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if medical_reports %}
                        <div class="card my-5 ">
                            <div class="card-body">
                                <h3 class="card-title">Medical Reports</h3>
                                <hr>
                                <div class="col-12">
                                    {% for report in medical_reports %}
                                    {% if report.report %}
                                    <div class="row bg-dark text-center text-white p-1 m-2 mx-auto">
                                        <div
                                            class="row d-flex mx-auto text-start align-items-center justify-content-start pt-2">
                                            <div class="col-4 col-md-6 col-lg-4 col-xl-6 p-2">
                                                <h5>{{ report.report_name }}</h5>
                                            </div>
                                            <div class="col-4 col-md-3 col-lg-4 col-xl-3 p-2">
                                                <a href="#" class="btn button2"
                                                    onclick="viewReport('{{ report.report.url }}')">View</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function viewReport(reportUrl) {
        var newWindow = window.open(reportUrl, '_blank');
        newWindow.focus();
    }
</script>

{% endblock %}