{% extends 'base.html' %}

{% block title %} Appointment Form {% endblock %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-sm-12 p-3 my-3 d-flex align-items-center justify-content-center">
            <div class="text_centre">
                <h1><i class="fa-regular fa-file-lines"></i></h1>
                <h3 class="pb-2">Appointment Form </h3>
                <form class="bg-white text-start rounded-5 p-5" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="pb-3">
                        <h5>Personal Details</h5>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Name</span>
                        <input type="text" name="name" value="{{ personal_detail_form.name.value}}" class="form-control"
                            id="name">
                    </div>
                    {% if form.name.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="nameError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">E-mail</span>
                        <input type="text" name="email" value="{{ personal_detail_form.email.value}}"
                            class="form-control" id="email">
                    </div>
                    {% if form.email.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="emailError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Mobile</span>
                        <input type="tel" name="mobile" value="{{ personal_detail_form.mobile.value}}"
                            class="form-control" id="mobile">
                    </div>
                    {% if form.mobile.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="mobileError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Gender</span>
                        <select name="gender" id="gender" class="form-select">
                            <option value="M" {% if personal_detail_form.gender.value == 'M' %} selected {% endif %}>Male</option>
                            <option value="F" {% if personal_detail_form.gender.value == 'F' %} selected {% endif %}>Female</option>
                            <option value="O" {% if personal_detail_form.gender.value == 'O' %} selected {% endif %}>Other</option>
                        </select>
                    </div>
                    {% if form.gender.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="genderError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="date_of_birth">Date of Birth</span>
                        <input type="date" name="date_of_birth" value="{{ date_of_birth }}" class="form-control">
                    </div>
                    {% if form.date_of_birth.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="dateOfBirthError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text align-self-start" id=""
                            style="width:130px; max-height:100px; min-height: 100px;">Address</span>
                        <textarea name="address" cols="36" class="form-control"
                            id="message">{{ personal_detail.address }}</textarea>
                    </div>
                    {% if form.address.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="addressError" style="color: red; visibility: hidden;" class="text-start"></p>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="country">Country</span>
                        <input type="text" name="country" value="{{ personal_detail_form.country.value}}"
                            class="form-control">
                    </div>
                    {% if form.country.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="countryError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="zipcode">Zip-Code</span>
                        <input type="text" name="zipcode" value="{{ personal_detail_form.zipcode.value}}"
                            class="form-control">
                    </div>
                    {% if form.zipcode.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="zipcodeError" style="color: red; visibility: hidden;" class="text-start"></p>

                    <hr class="dotted">
                    <div class="pb-2 pt-4">
                        <h5>Appointment Details</h5>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"  style="width:130px">Department</span>
                        <select name="department" id="departments" value="booking_form.department.value" class="form-control"
                            id="department" required>
                            <option value="">Select Department...</option>
                            {% for department in departments %}
                            <option value="{{ department.pk }}">{{ department.department_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if form.department.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="departmentError" style="color: red; visibility: hidden;" class="text-start"></p>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Doctor</span>
                        <select name="doctor" id="doctor" value="booking_form.doctor.value" class="form-control" required>
                            <option value="">Select Doctor...</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.pk }}">{{ doctor.personal_details.name }} 
                                ({{ doctor.department.department_name }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if form.doctor.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="doctorError" style="color: red; visibility: hidden;" class="text-start"></p>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" required>Date</span>
                        <input type="date" name="booking_date" value="{{ booking_form.booking_date.value }}"
                            class="form-control">
                    </div>
                    {% if form.booking_date.errors %}
                    <ul>
                        {% for error in form.field_name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p id="booking_dateError" style="color: red; visibility: hidden;" class="text-start"></p>

                    {% if redirect_field_value %}
                    <input type="hidden" name="next" value="{% url 'message_confirmation' %}" />
                    {% endif %}

                    <input type="submit" class="btn button" value="Submit">
                    <input type="reset" value="Reset Form" class="btn button1">
                </form>
            </div>

        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#departments').change(function() {
        var departmentId = $(this).val();
        if (departmentId) {
            $.ajax({
                type: 'GET',
                url: '/get_doctors/',  // URL to fetch doctors for the selected department
                data: {'department_id': departmentId},
                success: function(data) {
                    $('#doctor').html(data);
                }
            });
        } else {
            $('#doctor').html('<option value="">Select Doctor...</option>');
        }
    });
});

</script>
{% endblock %}