{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- fontowsom -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha384-<YOUR_SHOULD_GET_THE_LATEST_INTEGRITY>" crossorigin="anonymous">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <!-- Favicon images for deferent screen sizes -->
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706990312/samples/true_care/favicon_16_acgmi3.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706990312/samples/true_care/favicon_32_iu0aq6.png">
  <link rel="icon" type="image/png" sizes="48x48"
    href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706990312/samples/true_care/favicon_48_yirbba.png">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706990312/samples/true_care/favicon_512_oeqj5w.png">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="text-center">
  <!-- navbar -->
  <header>
    <nav class="navbar navbar-expand-xl bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class="true_care_logo" style="max-width: 250px;"
            src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706618762/samples/true_care/True_Care_Transparent_hozwzl.png"
            alt="true_care logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-start" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item {% if request.path == 'home' %}text-purple{% endif %}">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item {% if request.path == 'about' %}text-purple{% endif %}">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item {% if request.path == 'departments' %}text-purple{% endif %}">
              <a class="nav-link" href="{% url 'departments' %}">Departments</a>
            </li>
            <li class="nav-item {% if request.path == 'contact' %}text-purple{% endif %}">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
            <li class="nav-item {% if request.path == 'appointment' %}text-purple{% endif %}">
              <a class="nav-link"
                href="{% if user.is_authenticated %}{% url 'appointment' %}{% else %}{% url 'login_or_signup' %}{% endif %}">Appointments</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn button text-uppercase me-4 mb-3 dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i> {{ user }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% if personal_detail.is_doctor %}
              <li><a class="dropdown-item" href="{% url 'doctor_profile' %}">Doctors Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'add_doctor_details' %}">Professional Details</a>
                <hr class="dotted">
              </li>

              {% endif %}
              <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'update_profile' %}">Update Profile</a></li>
              {% if not personal_detail.is_doctor %}
              <li><a class="dropdown-item" href="{% url 'patient_appointments' %}">My Appointments</a></li>
              {% endif %}
            </ul>
          </div>
          <a class=" me-4 mb-3 nav-item nav-link" href="{% url 'account_logout' %}" role="button">Log
            out</a>
          {% else %}
          <a class=" me-4 mb-3 nav-item nav-link" href="{% url 'account_signup' %}" role="button" id="sign_up">Sign
            up</a>
          <a class="btn button mb-3 nav-item nav-link" href="{% url 'account_login' %}" role="button"
            id="login">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>



  {% if messages %}
  {% for message in messages %}
  <div class="bg-warning">
    <div class="alert alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% block content %}


  {% endblock %}
  <!-- Footer -->
  <footer class=" bg-black text-white py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xl-4 mb-3 text-start pt-2">
          <h5 class="text-uppercase font-weight-bold">Emergency Contact</h5>
          <a class="text-reset text-decoration-none" href="tel:+353234567890">
            <p><i class="fa fa-phone-volume"> </i> +353 23 456 7890</p>
          </a>
        </div>
        <div class="col-md-12 col-xl-4  mb-3 text-start pt-2">
          <h5 class="text-uppercase font-weight-bold">Appointments</h5>
          <a class="text-reset text-decoration-none" href="tel:+353891234567">
            <p><i class="fa fa-phone-volume"> </i> +353 89 123 4567</p>
          </a>
        </div>
        <div class="col-md-12 col-xl-4  mb-3 text-start pt-2">
          <h5 class="text-uppercase font-weight-bold">Email Us</h5>
          <a class="text-reset text-decoration-none" href="mailto:info@truecarehospital.com">
            <i class="fa-regular fa-envelope"> </i> info@truecarehospital.com
          </a>
          <p></p>
        </div>
      </div>
      <hr>
      <div class="row mt-3">
        <div class=" col-md-12 col-xl-4  text-start pt-4">
          <h5 class="text-uppercase  font-weight-bold">Links</h5>
          <ul class="links">
            <li class="nav-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About Us</a>
            </li>
            <li>
              <a href="{% url 'departments' %}">
                Our Departments
              </a>
            </li>
            <li>
              <a href="{% url 'doctors' %}">
                Our Doctors
              </a>
            </li>
            <li>
              <a class="nav-link"
                href="{% if user.is_authenticated %}{% url 'appointment' %}{% else %}{% url 'login_or_signup' %}{% endif %}">Appointments</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-xl-4  text-start pt-4">
          <h5 class="text-uppercase  font-weight-bold">Address</h5>
          <p class="mb-0">
            True Care Hospital, Main Street<br>
            Ballinasloe, Co-Galway, H53HF20
          </p>
        </div>
        <!-- Google Map -->
        <div class="col-md-12 col-xl-4  text-start pt-4">
          <h5 class="text-uppercase  font-weight-bold">Location</h5>
          <div class="embed-responsive embed-responsive-16by9">
            <div style="width: 100%">
              <iframe style="width: 100%; border: none; overflow: hidden; margin: 0;" height="230" title="Location Map"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=main%2estreet,%20Ballinalsoe+(TrueCare%20Hospital)&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <p class="d-none"></p>
              </iframe>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mt-3">
          <div class="col-xl-6 col-xl-4  text-center pt-4">
            <p></p>
            <p class="mb-0">&copy;
              <script>document.write(new Date().getFullYear())</script> TrueCare Hospital : All rights reserved
            </p>
          </div>
          <div class="col-sm-12 col-xl-6 text-center pt-4">
            <p>Follow us on</p>
            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
              <i class="fab fa-facebook-f social"></i>
            </a>
            <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
              <i class="fab fa-twitter social"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
              <i class="fab fa-instagram social"></i>
            </a>
            <a href="linkedin.com/in/eby-chacko-85695b245" target="_blank" aria-label="Linkedin">
              <i class="fab fa-linkedin social"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank" aria-label="Youtube">
              <i class="fab fa-youtube social"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var alertElements = document.querySelectorAll('.alert');
      alertElements.forEach(function (alertElement) {
        setTimeout(function () {
          alertElement.style.display = 'none';
        }, 5000);
      });
    });
  </script>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>

</body>


</html>