{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706879937/samples/true_care/contact-us_v3vcs9.webp"
                class="d-block w-100 img-fluid pt-3" alt="Departments image">
            <div class="col-sm-12 text-centre pt-5 pb-3">
                <h2>Contact Us</h2>
                <hr class="dotted">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-4 text-centre bg-body-tertiary pt-5 pb-3 bg-white mb-5">
                <div class=" p-4">
                    <h1><i class="fa-solid fa-truck-medical"></i></h1>
                    <h6 class="">Emergency</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i> +353 23 456 7890</h4>
                    </a>

                </div>
                <hr class="dotted">
                <div class=" p-5">
                    <h1><i class="fa-solid fa-calendar-check"></i></h1>
                    <h6 class="">Appointment</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i> +353 89 123 4567</h4>
                    </a>
                    <a class="text-reset text-decoration-none" href="mailto:appointment@truecarehospital.com">
                        <i class="fa-regular fa-envelope"> </i> appointment@truecarehospital.com
                    </a>
                </div>
                <hr class="dotted">
                <div class=" p-5">
                    <h1><i class="fa-solid fa-plane-circle-check"></i></h1>
                    <h6 class="">International Clients</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i> +353 89 123 0000</h4>
                    </a>
                    <a class="text-reset text-decoration-none" href="mailto:international@truecarehospital.com">
                        <i class="fa-regular fa-envelope"> </i> international@truecarehospital.com
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-xl-8 text-center pt-5 pb-3 bg-white mb-5">
                <div class=" p-4">
                    <h3 class="pb-5">Let us connected </h3>
                    <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706890519/samples/true_care/contact-page-image_dryv16.png"
                        class=" w-50 img-fluid pb-4 " alt="Departments image">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="Name" class="form-control" id="Name" placeholder="Full Name" required>
                            <label for="Name">Full Name :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="mobile" class="form-control" id="mobile" placeholder="Password" required>
                            <label for="Mobile">Mobile :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                            <label for="email">Email address :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea rows="15" cols="36" class="form-control" id="message"
                                placeholder="Your Message"></textarea>
                            <label for="message">Message :</label>
                        </div>
                        <input type="submit" class="btn button" value="Send Message">
                        <input type="reset" value="Reset Form" class=" btn button">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}