{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706879937/samples/true_care/contact-us_v3vcs9.webp"
                class="d-block w-100 img-fluid pt-3" alt="Departments image">
            <div class="col-sm-12 text-centre pt-5 pb-3">
                <h2>Contact Us</h2>
                <hr class="dotted">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-4 text-centre bg-body-tertiary pt-5 pb-3 bg-white mb-5">
                <div class=" p-4">
                    <h1><i class="fa-solid fa-truck-medical"></i></h1>
                    <h6 class="">Emergency</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i>  +353 23 456 7890</h4>
                    </a>

                </div>
                <hr class="dotted">
                <div class=" p-5">
                    <h1><i class="fa-solid fa-calendar-check"></i></h1>
                    <h6 class="">Appointment</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i>  +353 89 123 4567</h4>
                    </a>
                    <a class="text-reset text-decoration-none" href="mailto:appointment@truecarehospital.com">
                        <i class="fa-regular fa-envelope"> </i> appointment@truecarehospital.com
                    </a>
                </div>
                <hr class="dotted">
                <div class=" p-5">
                    <h1><i class="fa-solid fa-plane-circle-check"></i></h1>
                    <h6 class="">International Clients</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i>  +353 89 123 0000</h4>
                    </a>
                    <a class="text-reset text-decoration-none" href="mailto:international@truecarehospital.com">
                        <i class="fa-regular fa-envelope"> </i> international@truecarehospital.com
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-xl-8 text-centre pt-5 pb-3 bg-white mb-5">
                <div class=" p-4">
  
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}