{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706879937/samples/true_care/contact-us_v3vcs9.webp"
                class="d-block w-100 img-fluid pt-3" alt="Departments image">
            <div class="col-sm-12 text-centre pt-5 pb-3">
                <h2>Contact Us</h2>
                <hr class="dotted">
            </div>

        </div>
        <!-- Main contact details container -->
        <div class="row">
            <div class="col-sm-12 col-xl-4 text-centre bg-body-tertiary pt-5 pb-3 bg-white mb-5">
                <!-- emergency contact -->
                <div class=" p-4">
                    <h1><i class="fa-solid fa-truck-medical"></i></h1>
                    <h6 class="">Emergency</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i> +353 23 456 7890</h4>
                    </a>

                </div>
                <hr class="dotted">
                <!-- contact for appointments -->
                <div class=" p-5">
                    <h1><i class="fa-solid fa-calendar-check"></i></h1>
                    <h6 class="">Appointment</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i> +353 89 123 4567</h4>
                    </a>
                    <a class="text-reset text-decoration-none" href="mailto:appointment@truecarehospital.com">
                        <i class="fa-regular fa-envelope"> </i> appointment@truecarehospital.com
                    </a>
                </div>
                <hr class="dotted">
                <!-- Contact details for the internationalmclients -->
                <div class=" p-5">
                    <h1><i class="fa-solid fa-plane-circle-check"></i></h1>
                    <h6 class="">International Clients</h6>
                    <a class="text-reset text-decoration-none" href="tel:0484 668 1234">
                        <h4><i class="fa fa-phone-volume"> </i> +353 89 123 0000</h4>
                    </a>
                    <a class="text-reset text-decoration-none" href="mailto:international@truecarehospital.com">
                        <i class="fa-regular fa-envelope"> </i> international@truecarehospital.com
                    </a>
                </div>
            </div>
            <!-- message form container -->
            <div class="col-sm-12 col-xl-8 text-center pt-5 pb-3 bg-white mb-5">
                <div class=" p-4">
                    <h3 >How Can We Help You Today ?</h3>
                    <h5 class="pb-5 text-secondary">Write your Queries here...</h5>
                    <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706890519/samples/true_care/contact-page-image_dryv16.png"
                        class=" w-50 img-fluid pb-4 " alt="Departments image" style="min-width: 250px;">

                        <form method="post" action="{% url 'contact' %}" >
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"  style="width:100px">Name</span>
                                <input type="text" name="{{ form.name.name }}" class="form-control" id="name" >
                            </div>
                            <p id="nameError" style="color: red; visibility: hidden;" class="text-start"></p>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width:100px">Mobile</span>
                                <input type="tel" name="{{ form.mobile.name }}" class="form-control" id="mobile" >
                            </div>
                            <p id="mobileError" style="color: red; visibility: hidden;" class="text-start"></p>
                            <div class="input-group mb-3">
                                <span class="input-group-text"" style="width:100px">Email</span>
                                <input type="text" name="{{ form.email.name }}" class="form-control" id="email">
                            </div>
                            <p id="emailError" style="color: red; visibility: hidden;" class="text-start"></p>
                            <div class="input-group mb-3">
                                <span class="input-group-text align-self-start" id="" style="width:100px; height:100px;">Message</span>
                                <textarea name="{{ form.message.name }}" rows="15" cols="36" class="form-control" id="message" style="height:100px"></textarea>
                            </div>
                            <p id="messageError" style="color: red; visibility: hidden;" class="text-start"></p>
                            <input type="submit" class="btn button" value="Send Message" onclick="return validateForm()">
                            <input type="reset" value="Reset Form" class="btn button1">
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}