{% extends 'base.html' %}

{% block title %}{{ department.department_name }} Department {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706879937/samples/true_care/departments_1_ktrog6.webp"
                class="d-block w-100 img-fluid pt-3" alt="Departments image">
            <a class="text-reset text-decoration-none p-3 text-start" href="{% url 'departments' %}"><i
                    class="fa-solid fa-circle-arrow-left"></i> Back to Departments</a>
            <div class="container ">
                <div class="row">

                    <div class="col  mb-4  mt-3 left p-5 text-start bg-light top mx-auto">
                        <h2 class="text-center">{{ department.department_name }} Department</h2>
                        <hr class="dotted">
                        <div class="card-body">
                            <h4>Overview</h4>
                            <p>{{ department.overview }}</p>
                            <h4>Specialities..</h4>
                            <p>{{ department.description }}</p>
                            <div class="col-sm-12 p-5 bg-body-tertiary mx-auto">
                                <h3 class="text-center"><i class="fa-solid fa-user-doctor"></i> Our Doctors</h3>
                                <hr class="dotted">
                                <div class="row">
                                    {% for doctor in doctors %}
                                    <div class=" col-sm-12 py-3 dotted">
                                        <div class="row p-3">
                                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 text-center">
                                                {% if doctor.picture %}
                                                <img src="{{ doctor.picture.url }}" class="doctor_photo img-fluid"
                                                    alt="{{doctor.personal_details.name}}'s Photo">
                                                {% else %}
                                                <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1707938913/doctor_photo-default_plh6db.webp" 
                                                class="doctor_photo img-fluid" alt="Doctor default Photo">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-12  col-md-6 col-lg-8 col-xl-8 col-xxl-9 pt-4 ">
                                                <h4>Dr. {{ doctor.personal_details.name }}</h4>
                                                <h5>{{ doctor.designation }}</h5>
                                                <h5>{{ doctor.education }}</h5>
                                                <p>{{ doctor.speciality }}</p>
                                                <a href="{% if user.is_authenticated %}{% url 'appointment' %}{% else %}{% url 'login_or_signup' %}{% endif %}"
                                                    class="btn button">Book an Appointment</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}