{% extends 'base.html' %}

{% block title %} Departments {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706879937/samples/true_care/departments_1_ktrog6.webp"
                class="d-block w-100 img-fluid pt-3" alt="Departments image">

            <div class="col-sm-12 text-centre pt-5 pb-3">
                <h2>Our Medical Departments</h2>
                <hr class="dotted">
            </div>

            <div class="row">
                {% for d in dept %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-5 px-4 pt-4 mx-auto; border"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div>
                        <h3>{{d.department_name}}</h3>
                        <hr class="dotted">
                        <p class="text-start">{{d.overview}}</p>
                    </div>
                    <a class="btn button" href="#" style="align-self: flex-bottom;">Learn More..</a>
                    
                </div>          
                <!-- {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
            <div class="row mb-3">
                {% endif %} -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}