{% extends 'base.html' %}

{% block title %} Patient Appointments {% endblock %}

{% load i18n %}

{% block content %}

<div class="container-fluid bg-body-secondery">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-xl-2 bg-dark text-white bg-gradient p-3" id="sidebar">
            <div class="row d-flex justify-content-center align-items-center">
                {% if personal_detail.picture %}
                <a href="{% url 'update_picture' %}" class="text-reset text-decoration-none">
                    <img src="{{ personal_detail.picture.url }}" alt="profile picture"
                        class="rounded-circle border border-5 border-secondary"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </a>
                {% else %}
                <a href="{% url 'update_picture' %}" class="text-reset text-decoration-none">
                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1707688057/60111_ulq1yz.jpg"
                        alt="profile picture" class="rounded-circle border border-5 border-secondary"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </a>
                {% endif %}
                <div class="col-12 text-center py-3">
                    <h5 class="text-uppercase">{{ user }}</h5>
                    <h6 class="text-warning">User ID: {{ user.id }}</h6>
                </div>
                <hr class="col-12 dotted">

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-12 text-center equal-height">
                            <a href="#all_appointments" id="all_appointments_link"
                                class="profile_button d-flex justify-content-center align-items-center text-reset text-decoration-none">
                                <div class="col-12 button_bg text-center">
                                    <p class="text-white">All Appointments</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 text-center equal-height">
                            <a href="#attended_appointments" id="attended_appointments_link"
                                class="profile_button d-flex justify-content-center align-items-center text-reset text-decoration-none">
                                <div class="col-12 button_bg text-center">
                                    <p class="text-white">Attended Appointments</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 text-center equal-height">
                            <a href="#upcoming_appointments" id="upcoming_appointments_link"
                                class="profile_button d-flex justify-content-center align-items-center text-reset text-decoration-none">
                                <div class="col-12 button_bg text-center">
                                    <p class="text-white">Upcoming Appointments</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 text-center equal-height">
                            <a href="{% url 'profile' %}" id="personal_Details_link"
                                class="profile_button d-flex justify-content-center align-items-center text-reset text-decoration-none">
                                <div class="col-12 button_bg text-center">
                                    <p class="text-white">Personal Details</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-sm-12 col-md-9 col-xl-10 text-centre align-items-center pb-3 bg-dark" id="main-content"
            style="min-height: 600px;">
            <div class="row">
                <div id="all_appointments" class="col-12 text-white py-5 ">
                    <h4 class="text-uppercase pb=5"><strong>My Appointments</strong></h4>
                    <hr>
                    <div class="row pt-3 px-3">
                        {% if appointments %}
                        {% for appointment in appointments %}
                        <div class="col-sm-12 col-md-6 col-xl-4 text-center">
                                <div class="appointment_div text-start p-3">
                                    <div class="row py-3">
                                        <h5 class=" text-warning">Date: {{ appointment.booking_date }}</h5>
                                        <h6 class=" text-white">Department : {{ appointment.department }}</h6>
                                        <h6 class=" text-white">Doctor : Dr. {{ appointment.doctor }}</h6>
                                        <h6 class="text-white">
                                            Status :
                                            {% if appointment.attended %}
                                                Attended
                                            {% elif appointment.approved %}
                                                Approved
                                            {% else %}
                                                Not Approved
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center pt-2">
                                            <a href="{% url 'appointment_details' id=appointment.id %}"
                                                class="text-reset text-decoration-none px-2 btn button3">
                                                Details
                                            </a>
                                            {% if appointment.booking_date > now.date or not appointment.approved %}
                                            <a href="{% url 'delete_appointment' id=appointment.id %}"
                                                onclick="return confirm('Are you sure you want to delete this appointment?');"
                                                class="text-reset text-decoration-none px-2 btn button2">Delete</a>
                                            {% else %}
                                            <button type="button" class="btn button2" disabled>Delete</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4 class="pt-5 pb-2">You have no scheduled appointments. Book now!</h4>
                        <div>
                            <a class="btn button3" href="{% url 'appointment' %}">
                                Click Here to make an appointment</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div id="attended_appointments" class="col-12 text-white py-5 ">
                    <h4 class="text-uppercase pb=5"><strong>Attended Appointments</strong></h4>
                    <hr>
                    <div class="row pt-3 px-3">
                        {% if attended_appointments %}
                        {% for attended_appointment in attended_appointments %}
                        <div class="col-sm-12 col-md-6 col-xl-4 text-center">
                                <div class="appointment_div text-start p-3">
                                    <div class="row py-3">
                                        <h5 class=" text-warning">Date: {{ attended_appointment.booking_date }}</h5>
                                        <h6 class=" text-white">Department : {{ attended_appointment.department }}</h6>
                                        <h6 class=" text-white">Doctor : Dr. {{ attended_appointment.doctor }}</h6>
                                        <h6 class=" text-white">Status : Attended</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center pt-2">
                                            <a href="{% url 'appointment_details' id=attended_appointment.id %}"
                                                class="text-reset text-decoration-none px-2 btn button3">Details</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4 class="pt-5 pb-2">Sorry !!!</h4>
                        <p>You have no attended appointments to show.</p>
                        {% endif %}
                    </div>
                </div>

                <div id="upcoming_appointments" class="col-12 text-white py-5 ">
                    <h4 class="text-uppercase pb=5"><strong>Upcoming Appointments</strong></h4>
                    <hr>
                    <div class="row pt-3 px-3">
                        {% if upcoming_appointments %}
                        {% for upcoming_appointment in upcoming_appointments %}
                        {% if upcoming_appointment.booking_date >= now.date %}
                        <div class="col-sm-12 col-md-6 col-xl-4 text-center">
                                <div class="appointment_div text-start p-3">
                                    <div class="row py-3">
                                        <h5 class=" text-warning">Date: {{ upcoming_appointment.booking_date }}</h5>
                                        <h6 class=" text-white">Department : {{ upcoming_appointment.department }}</h6>
                                        <h6 class=" text-white">Doctor : Dr. {{ upcoming_appointment.doctor }}</h6>
                                        <h6 class=" text-white">Status : {% if upcoming_appointment.approved %}Approved
                                            {% else%}Not Approved{% endif %}</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center pt-2">
                                            <a href="{% url 'appointment_details' id=upcoming_appointment.id %}"
                                                class="text-reset text-decoration-none px-2 btn button3">Details</a>
                                            {% if upcoming_appointment.booking_date > now.date %}
                                            <a href="{% url 'delete_appointment' id=upcoming_appointment.id %}"
                                                onclick="return confirm('Are you sure you want to delete this appointment?');"
                                                class="text-reset text-decoration-none px-2 btn button2">Delete</a>
                                            {% else %}
                                            <button type="button" class="btn button2" disabled>Delete</button>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h4 class="pt-5 pb-2">Sorry !!!</h4>
                        <p>You have no upcoming appointments.</p>
                        <div>
                            <a class="btn button3" href="{% url 'appointment' %}">
                                Click Here to make an appointment</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to show the specified appointment section and hide others
    function showContent(sectionId) {
        // Hide all content sections
        document.getElementById('all_appointments').style.display = 'none';
        document.getElementById('attended_appointments').style.display = 'none';
        document.getElementById('upcoming_appointments').style.display = 'none';

        // Show the specified content section
        document.getElementById(sectionId).style.display = 'block';
    }

    // Event listener for clicking on the links to switch content sections
    document.addEventListener('DOMContentLoaded', function () {
        // Show personal details by default
        showContent('all_appointments');

        // Add event listeners for each button
        document.getElementById('all_appointments_link').addEventListener('click', function () {
            showContent('all_appointments');
        });

        document.getElementById('attended_appointments_link').addEventListener('click', function () {
            showContent('attended_appointments');
        });

        document.getElementById('upcoming_appointments_link').addEventListener('click', function () {
            showContent('upcoming_appointments');
        });
    });

</script>

{% endblock %}