{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% load i18n %}

{% block content %}

<div class="container-fluid bg-body-secondery">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-xl-2 bg-dark text-white bg-gradient p-3" id="sidebar">
            <div class="row d-flex justify-content-center align-items-center">
                {% if personal_detail.picture %}
                <a href="{% url 'update_picture' %}" class="text-reset text-decoration-none">
                    <img src="{{ personal_detail.picture.url }}" alt="profile picture"
                        class="rounded-circle border border-5 border-secondary"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </a>
                {% else %}
                <a href="{% url 'update_picture' %}" class="text-reset text-decoration-none">
                    <img src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1707688057/60111_ulq1yz.jpg"
                        alt="profile picture" class="rounded-circle border border-5 border-secondary"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </a>
                {% endif %}
                <div class="col-12 text-center py-3">
                    <h5 class="text-uppercase">{{ user }}</h5>
                    <h6 class="text-warning">User ID: {{ user.id }}</h6>
                </div>
                <hr class="col-12 dotted">

                <div class="col-12 col-sm-3 col-md-12 text-center pt-3">
                    <a href="{% url 'patient_appointments' %}"
                        class="profile_button d-flex justify-content-center align-items-center text-reset text-decoration-none">
                        <div class="col-12 button_bg text-center" style="min-height:50px;">
                            <p class="text-white">My Appointments</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-3 col-md-12 text-center">
                    <a href="#personal_Details"
                        class="profile_button d-flex justify-content-center align-items-center text-reset text-decoration-none">
                        <div class="col-12 button_bg text-center" style="min-height:50px;">
                            <p class="text-white">Personal Details</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-9 col-xl-10 text-centre align-items-center pb-3 bg-dark" id="main-content"
            style="min-height: 600px;">
            <div class="row">
                <div id="personal_Details" class="col-12  text-white py-5">
                    <h4 class="text-uppercase pb=5"><strong>{{user}}'s Profile</strong></h4>
                    <hr>
                    <div
                        class="row pt-3 px-3 text-start d-flex justify-content-center align-items-stretch text-uppercase">
                        <div
                            class="col-sm-8 col-lg-6 col-xl-4 border border-secondary rounded-5 m-2 p-5 d-flex flex-column">
                            <div class="row">
                                <h6 class="text-uppercase text-center pb-2"><strong>Personal Details</strong></h6>
                                <hr>
                            </div>
                            <p> Name : <strong>{{ personal_detail.name }}</strong></p>
                            <p> Mobile : {{ personal_detail.mobile }}</p>
                            <p> Email : {{ personal_detail.email }}</p>
                            <p> Address : {{ personal_detail.address }}</p>
                            <p> Zip-code : {{ personal_detail.zipcode }}</p>
                            <p> Date Of Birth : {{ patient.date_of_birth }}</p>
                            <p> Gender : {% if personal_detail.gender == 'M' %}
                                Male
                                {% elif personal_detail.gender == 'F' %}
                                Female
                                {% elif personal_detail.gender == 'O' %}
                                Other
                                {% else %}
                                Unknown
                                {% endif %}</p>
                            <a href="{% url 'update_profile' %}" class="text-reset text-decoration-none px-2">
                                <h5 type="submit" class="btn button3" value="">Update</h5>
                            </a>
                        </div>
                        {% if personal_detail.is_doctor %}
                        <div
                            class="col-sm-8 col-lg-6 col-xl-4 border border-secondary rounded-5 m-2 p-5 d-flex flex-column">
                            <div class="row">
                                <h6 class="text-uppercase text-center pb-2"><strong>Professional Details</strong></h6>
                                <hr>
                            </div>
                            <p> Designation : {{ doctor.designation }}</p>
                            <p> Doctor ID Number : {{ doctor.doctor_Number }}</p>
                            <p> Qualification : {{ doctor.education }}</p>
                            <p> Specialisation : {{ doctor.speciality }}</p>
                            <p> Department : {{ doctor.department }}</p>
                            <a href="{% url 'add_doctor_details' %}" class="text-reset text-decoration-none px-2">
                                <h5 type="submit" class="btn button3" value="">Update</h5>
                            </a>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}