{% extends "base.html" %}

{% block head_title %} Profile Update {% endblock %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-sm-12 p-3 my-3 d-flex align-items-center justify-content-center">
            <div class="text_centre">
                <h1><i class="fa-solid fa-id-card"></i></h1>
                <h3 class="pb-3">Update Your Profile </h3>
                <form class="bg-white text-start rounded-5 p-5" method="POST" action="" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Name</span>
                        <input type="text" name="name" value="{{ personal_detail_form.name.value}}"
                            class="form-control" id="name">
                    </div>
                    <p id="nameError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">E-mail</span>
                        <input type="text" name="email" value="{{ personal_detail_form.email.value}}"
                            class="form-control" id="email">
                    </div>
                    <p id="emailError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Mobile</span>
                        <input type="tel" name="mobile" value="{{ personal_detail_form.mobile.value}}"
                            class="form-control" id="mobile">
                    </div>
                    <p id="mobileError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px">Gender</span>
                        <select name="gender" id="gender" class="form-select">
                            <option value="M" {% if personal_detail_form.gender.value == 'M' %} selected {% endif %}>Male</option>
                            <option value="F" {% if personal_detail_form.gender.value == 'F' %} selected {% endif %}>Female</option>
                            <option value="O" {% if personal_detail_form.gender.value == 'O' %} selected {% endif %}>Other</option>
                        </select>
                    </div>
                    <p id="genderError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="date_of_birth">Date of Birth</span>
                        <input type="date" name="date_of_birth" value="{{ date_of_birth }}"
                            class="form-control">
                    </div>
                    <p id="dateOfBirthError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text align-self-start" id=""
                            style="width:130px; max-height:100px; min-height: 100px;">Address</span>
                        <textarea name="address"  cols="36"
                            class="form-control" id="message">{{ personal_detail.address }}</textarea>
                    </div>
                    <p id="addressError" style="color: red; visibility: hidden;" class="text-start"></p>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="country">Country</span>
                        <input type="text" name="country" value="{{ personal_detail_form.country.value}}"
                            class="form-control">
                    </div>
                    <p id="countryError" style="color: red; visibility: hidden;" class="text-start"></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="" style="width:130px" id="zipcode">Zip-Code</span>
                        <input type="text" name="zipcode" value="{{ personal_detail_form.zipcode.value}}"
                            class="form-control">
                    </div>
                    <p id="zipcodeError" style="color: red; visibility: hidden;" class="text-start"></p>

                    {% if redirect_field_value %}
                    <input type="hidden" name="next" value="{% url 'message_confirmation' %}" />
                    {% endif %}
                    
                    <input type="submit" class="btn button" value="Update" onclick="validateUpdateForm()">
                    <input type="reset" value="Reset Form" class="btn button1">
                </form>
            </div>

        </div>
    </div>
</div>

<script>

    // Update_details form validation
    function validateUpdateForm() {
        var name = document.getElementById("name").value.trim();
        var mobile = document.getElementById("mobile").value.trim();
        var email = document.getElementById("email").value.trim();
        var address = document.getElementById("address").value.trim();
        var dateOfBirth = new Date(document.getElementById("date_of_birth").value);
        var country = document.getElementById("country").value.trim();
        var zipcode = document.getElementById("zipcode").value.trim();
    
        var nameError = document.getElementById("nameError");
        var mobileError = document.getElementById("mobileError");
        var emailError = document.getElementById("emailError");
        var addressError = document.getElementById("addressError");
        var dateOfBirthError = document.getElementById("dateOfBirthError");
        var countryError = document.getElementById("countryError");
        var zipcodeError = document.getElementById("zipcodeError");
    
        // Reset previous error messages
        nameError.innerHTML = "";
        mobileError.innerHTML = "";
        emailError.innerHTML = "";
        addressError.innerHTML = "";
        dateOfBirthError.innerHTML = "";
        countryError.innerHTML = "";
        zipcodeError.innerHTML = "";
    
        var isValid = true;
    
        // Validate Name
        if (name === "") {
            nameError.innerHTML = "Name is required.";
            isValid = false;
            nameError.style.visibility = "visible";
        }
    
        // Validate Mobile
        function validateMobileNumber(mobile) {
            var mobileValidations = /^(\+\d{1,3}\s?\d{1,}\s?\d{1,}\s?\d{1,}|\d{10})$/;
            return mobileValidations.test(mobile);
        }
        if (mobile === "" || !validateMobileNumber(mobile)) {
            mobileError.innerHTML = "Mobile is required and must be a 10 digit number.";
            isValid = false;
            mobileError.style.visibility = "visible";
        }
    
        // Validate Email
        var emailExtentions = /^[^\s@]+@[^\s@]+\.(com|in|ie|org|net|edu|gov|mil|int|co|uk|us|au|)$/;
        if (email === "" || !emailExtentions.test(email)) {
            emailError.innerHTML = "Email is required and must be a valid email address.";
            isValid = false;
            emailError.style.visibility = "visible";
        }
    
        // Validate Address
        if (address === "") {
            addressError.innerHTML = "Address is required.";
            isValid = false;
            addressError.style.visibility = "visible";
        }
    
        // Validate Date of Birth
        if (dateOfBirth === "" || isNaN(dateOfBirth.getTime())) {
            dateOfBirthError.innerHTML = "Date of Birth is required.";
            isValid = false;
            dateOfBirthError.style.visibility = "visible";
        } else {
            var today = new Date();
            if (dateOfBirth.getTime() > today.getTime()) {
                dateOfBirthError.innerHTML = "Date of Birth cannot be after today.";
                isValid = false;
                dateOfBirthError.style.visibility = "visible";
            }
        }
    
        // Validate Country
        if (country === "") {
            countryError.innerHTML = "Country is required.";
            isValid = false;
            countryError.style.visibility = "visible";
        }
    
        // Validate Zip Code
        if (zipcode === "") {
            zipcodeError.innerHTML = "Zip Code is required.";
            isValid = false;
            zipcodeError.style.visibility = "visible";
        }
    
        return isValid;
    }
    
    // Add event listeners to each input field to validate when focus is out
    document.addEventListener('DOMContentLoaded', function() {
        var inputs = document.querySelectorAll('input, select, textarea');
    
        inputs.forEach(input => {
            input.addEventListener('blur', function() {
                validateUpdateForm();
            });
        });
    });
    
    </script>
    
{% endblock %}