{% extends "base.html" %}

{% block title %} Update Profile {% endblock %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="col-sm-12 p-3 my-3 d-flex align-items-center justify-content-center">
            <div class="text_centre">
                <h1><i class="fa-solid fa-id-card"></i></h1>
                <h3 class="pb-3">Update Your Profile </h3>
                <form class="bg-white text-start rounded-5 p-5 needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Name</span>
                        <input type="text" name="name" value="{{ personal_detail_form.name.value }}" class="form-control" id="name" required>
                        <div class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">E-mail</span>
                        <input type="email" name="email" value="{{ personal_detail_form.email.value }}" class="form-control" id="email" required>
                        <div class="invalid-feedback">
                            Please provide a valid email address.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Mobile</span>
                        <input type="tel" name="mobile" value="{{ personal_detail_form.mobile.value }}" class="form-control" id="mobile" required>
                        <div class="invalid-feedback">
                            Please provide a valid mobile number.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px">Gender</span>
                        <select name="gender" id="gender" class="form-select" required>
                            <option value="">Choose...</option>
                            <option value="M" {% if personal_detail_form.gender.value == 'M' %} selected {% endif %}>Male</option>
                            <option value="F" {% if personal_detail_form.gender.value == 'F' %} selected {% endif %}>Female</option>
                            <option value="O" {% if personal_detail_form.gender.value == 'O' %} selected {% endif %}>Other</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select your gender.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px" id="date_of_birth">Date of Birth</span>
                        <input type="date" name="date_of_birth" value="{{ date_of_birth }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide avalid date of birth.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text align-self-start" style="width:130px; max-height:100px; min-height: 100px;">Address</span>
                        <textarea name="address" cols="36" class="form-control" id="message" required>{{ personal_detail.address }}</textarea>
                        <div class="invalid-feedback">
                            Please provide your address.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px" id="country">Country</span>
                        <input type="text" name="country" value="{{ personal_detail_form.country.value }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide your country.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:130px" id="zipcode">Zip-Code</span>
                        <input type="text" name="zipcode" value="{{ personal_detail_form.zipcode.value }}" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide your zip code.
                        </div>
                    </div>
                
                    {% if redirect_field_value %}
                    <input type="hidden" name="next" value="{% url 'message_confirmation' %}" />
                    {% endif %}
                
                    <input type="submit" class="btn button" value="Update">
                    <input type="reset" value="Reset Form" class="btn button1">
                </form>
                
            </div>

        </div>
    </div>
</div>


<script>

(function () {
    'use strict';

    var forms = document.querySelectorAll('.needs-validation');
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    var isValid = true;

                    var emailInput = form.querySelector('[name="email"]');
                    var email = emailInput.value;
                    var emailExtensions = /^[^\s@]+@[^\s@]+\.(com|in|ie|org|net|edu|gov|mil|int|co|uk|us|au)$/;
                    if (email.trim() === "" || !emailExtensions.test(email)) {
                        emailInput.setCustomValidity("Email is required and must be a valid email address.");
                        isValid = false;
                    } else {
                        emailInput.setCustomValidity("");
                    }

                    var mobileInput = form.querySelector('[name="mobile"]');
                    var mobile = mobileInput.value;
                    var mobileValidations = /^\d{10}$/;
                    if (mobile.trim() === "" || !mobileValidations.test(mobile)) {
                        mobileInput.setCustomValidity("Mobile is required and must be a 10 digit number.");
                        isValid = false;
                    } else {
                        mobileInput.setCustomValidity("");
                    }

                    var dobInput = form.querySelector('[name="date_of_birth"]');
                    var dateOfBirth = dobInput.value;
                    var today = new Date();
                    var selectedDate = new Date(dateOfBirth);
                    if (selectedDate > today) {
                        dobInput.setCustomValidity("Date of birth must be today or before.");
                        isValid = false;
                    } else {
                        dobInput.setCustomValidity("");
                    }

                    if (!isValid) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                }

                form.classList.add('was-validated');
            }, false);
        });
})();



</script>

{% endblock %}