{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% load i18n %}

{% block content %}

<div class="container-fluid bg-body-secondery">
    <div class="row">
        <div class="col-sm-12 text-centre align-items-center pb-3 bg-dark "
            style="min-height: 600px;">
            <div class="row">
                <div id="appointments" class="col-md-8 text-white py-5 mx-auto">
                    <h4 class="text-uppercase pb=5"><strong>Profile Picture</strong></h4>
                    <hr>
                    <div class='text-start'>
                        <a class="text-reset text-decoration-none text-start ps-5 pt-5" href="{% url 'profile' %}">
                            <i class="fa-solid fa-circle-arrow-left"></i> Go Back to Profile</a>
                    </div>
                    <div class="row pt-3 px-3">
                        <form class=" text-white text-centre border border-secondary rounded-5 p-5" method="POST"
                            action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if personal_detail.picture %}
                            <a href="#" id="profile-link" class="profile_button text-reset text-decoration-none">
                                <img id="profile-image" src="{{ personal_detail.picture.url }}" alt="profile picture"
                                    class="rounded-circle border border-5 border-secondary"
                                    style="width: 200px; height: 200px; object-fit: cover;">
                            </a>
                            {% else %}
                            <a href="#" id="profile-link" class="profile_button text-reset text-decoration-none">
                                <img id="profile-image"
                                    src="https://res.cloudinary.com/dgd5gtn1w/image/upload/v1707688057/60111_ulq1yz.jpg"
                                    alt="profile picture" class="rounded-circle border border-5 border-secondary"
                                    style="width: 200px; height: 200px; object-fit: cover;">
                            </a>
                            {% endif %}
                            <h5 class="py-3">Upload your Photo</h5>
                            <div class="row text-centre d-flex justify-content-center align-items-center">
                                <div class="col-md-12 col-lg-10 col-xl-8 mb-3">
                                    <input type="file" name="picture" accept="image/*" class="form-control"
                                        value="{{ personal_detail.picture }}" id="photo-input">
                                </div>
                                {% if error_message %}
                                <p id="pictureError" style="color: red;" class="">{{ error_message }}</p>
                                {% endif %}
                            </div>

                            {% if redirect_field_value %}
                            <input type="hidden" name="next" value="{% url 'message_confirmation' %}" />
                            {% endif %}

                            <input type="submit" class="btn button3" value="Update">
                            {% if personal_detail.picture %}
                            <input type="reset" value="Remove" class="btn button2">
                            {% endif %}
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}