{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% load i18n %}

{% block content %}

<div class="container-fluid bg-body-secondery">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-xl-2 bg-dark text-white bg-gradient p-3" style="min-height: 600px;">
            <div class="row d-flex justify-content-center align-items-center">
                {% if personal_detail.picture %}
                <a href="#" class="profile_button text-reset text-decoration-none">
                    <img src="{{ personal_detail.picture.url }}" alt="profile picture" class="rounded-circle border border-dark border-5 " style="width:150px; height: 150px;">
                </a>
                {% else %}
                <div class="col-12 bg-secondary rounded-circle text-center d-flex justify-content-center align-items-center" style="width:150px; height: 150px;">
                    <a href="{{ url 'upload_picture' }}" class="profile_button text-reset text-decoration-none">
                        <h4><i class="fa-solid fa-circle-plus"></i></h4>
                        <p>Add Photo</p>
                    </a>
                </div>
                {% endif %}
                <div class="col-12 text-center py-3">
                    <h5 class="text-uppercase">{{ user }}</h5>
                    <h6 class="text-warning">User ID: {{ user.id }}</h6>
                </div>
                <hr class="col-12 dotted">
                <div class="col-12 text-center pt-3">
                    <a href="#personal Details" class="profile_button text-reset text-decoration-none">
                        <div class="col-12 button_bg text-center" style="height:50px;">
                            <p class="text-white">Personal Details</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 text-center">
                    <a href="#appointments" class="profile_button text-reset text-decoration-none">
                        <div class="col-12 button_bg text-center" style="height:50px;">
                            <p class="text-white">Appointments</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        

        <div class="col-sm-12 col-md-9 col-xl-10 text-centre align-items-center pb-3 bg-dark "
            style="min-height: 600px;">
            <div class="row">
                <div id="appointments" class="col-12 text-white py-5 ">
                    <h4 class="text-uppercase pb=5"><strong>My Appointments</strong></h4>
                    <hr>
                    <div class="row pt-3 px-3">
                        <form class="bg-white text-start rounded-5 p-5" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="" style="width:130px" id="date_of_birth">Photo</span>
                                <input type="img" name="picture" value="" class="form-control">
                            </div>
                            {% if form.picture.errors %}
                            <ul>
                                {% for error in form.picture.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            
                            <p id="booking_dateError" style="color: red; visibility: hidden;" class="text-start"></p>
        
                            {% if redirect_field_value %}
                            <input type="hidden" name="next" value="{% url 'message_confirmation' %}" />
                            {% endif %}
        
                            <input type="submit" class="btn button" value="Submit">
                            <input type="reset" value="Reset Form" class="btn button1">
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}