{% extends 'base.html' %}

{% block title %} Departments {% endblock %}

{% block content %}

<div class="container-fluid bg-body-secondery text-center">
    <div class="container">
        <div class="row">
            <img src=" https://res.cloudinary.com/dgd5gtn1w/image/upload/v1706716321/samples/true_care/departments_jtziwa.webp"
                class="d-block w-100 img-fluid pt-3" alt="Departments image">

            <div class="col-sm-12 text-start py-5">
                <h2>Medical departments</h2>
                <p>Located in the vibrant heart of Ireland, True Care Hospitals is one of the largest
                    private multi-specialist hospitals in Europe. Fr. John laid the hospital's cornerstone in
                    Ballinasloe in 1990. We are dedicated to providing the most sophisticated healthcare to people from
                    all
                    walks
                    of life. </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}